@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

body{
    font: 18px Roboto, Helvetica, sans-serif;
    background-color: white;
}

.container{
    text-align: center;
}

.pheader h1{
    color: white;
    font-size: 50px;
    font-weight:bolder;
    margin: 0;
}

.headerH1{
    width: 100px;
    height: 50px;
    font-weight: bold;
    position: relative;
    animation: mymove 3s infinite;   
}    

#headerKicks {animation-timing-function: ease;}
  
@keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
  }

  /* div {
    width: 100px;
    height: 50px;
    background-color: red;
    font-weight: bold;
    position: relative;
    animation: mymove 5s infinite;
  } */
  
  #div2 {animation-timing-function: ease;}
  
  @keyframes mymove {
    from {left: 0px;}
    to {left: 300px;}
  }
.pheader h3{
    color: rgb(57, 4, 57);
    text-shadow: 0 0 5px #fff;
    font-size: 25px;
}

.pnav {
    color: rgb(0, 0, 0);
    text-shadow: 0 0 5px #fff;
    font-size: 20px;
    text-align: center;
}

.hamburger{
    cursor: pointer;
    display: none;
}

.fa-solid {
    color: white;
  }

a.button {
    border-radius: 10px;
    padding: 15px;
    background-color: #e85529ed;
    font-size: 20px;
    color: white;
}

.category li{
    font-size: 3rem;
    font-weight: bolder;
}

.category a:visited,a:active,a:link {
    color: #dc3c2e
}

.category a:hover{
    color: white;
    background-color: black;
}

.news{
    background-color: #1b7da4;
}

.news h3 {
    text-align: center;
}

.news form {
    text-align: center;
}

.news input,button {
    font-size: 1.25rem;
}

.sub-button {
    border-radius: 10px;
    padding: 0 15px;
    background-color: #390439;
    font-size: 20px;
    color: white;
}

.cat-header{
    text-align: center;
    background-color:  #1b7da4;
    padding: 10px;
    margin: 20px;
}

h2{
    font-weight: bold;
    font-size: 40px;
    color:white;
}

.cat-nav li{
    font-size: 28px;
}

.footer{
    text-align: center;
}

@media (max-width: 1024px) {
    .pheader h1{
        font-size: 30px;
    }
    .pheader h3{
        font-size: 20px;
    }
    .pnav {
        font-size: 15px;
    }
    a.button {
        font-size: 15px;
    }
}
@media (max-width: 768px) {
    .pnav{
        display: none;
    }
    .hamburger{
        display: block;
    }
}

.slider-outer {
    overflow: auto;
    margin: auto 20%;
}

.slider-inner {
    width: 95%;
    margin: 40px auto;
    position: relative;
    float: left;
    border: #666 solid 2px;
}

.slider-inner img{
    display: none;
    width: 100%;
    height:auto;
}

.slider-inner img.active{
    display:inline-block;
}

.prev{
    float:left;
    margin-top: 30%;
    cursor: pointer;
    position: relative;
    margin-right: -45px;
    z-index: 100;
}

.next{
    float:left;
    margin-top: 30%;
    cursor: pointer;
    position: relative;
    margin-left: -45px;
    z-index: 100;
}

.cart-items {
    margin: 10px 30px;
}
.cart-items img{
    display: inline;
    width: 10%;
    height: auto;
    margin: 10px 30px;
}

.cart-items h3{
    display: inline;
    margin: 10px 30px;
}

.cart-items p{
    display: inline;
    margin: 10px 30px;
}

.cart-items input{
    display: inline;
    margin: 10px 30px;
}

.cart-items button{
    display: inline;
    margin: 10px 30px;
}

.cart h3{
    margin: 10px 30px;
}

.cat-content button{

    color:white;
    border-radius: 22px;
    width: 120px;
    background-color: black;
}

#buttonContainer button{
    background-color: green;
    color: #fff;
    border-radius: 22px;
    width: 180px;
    cursor: pointer;
}